numpy==1.20.2
matplotlib==3.4.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jupyter-contrib-nbextensions==0.5.1
rise==5.7.1
fastai==2.3.0
bokeh==2.3.1
plotly==4.14.3
mrspuff
Pillow==8.2.0
xattr==0.9.7
